* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #cac9fa, #b196db);
  color: #1e293b;
  line-height: 1.6;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  height: 150px;
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* SECTIONS */
.section {
  padding: 70px 10%;
}

.section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0f172a;
}

.section p {
  color: #334155;
  font-size: 15px;
}

.light-bg {
  background: linear-gradient(135deg, #cac9fa, #b196db);
}

/* CARDS */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
    color: #cbd5e1;
  background-color: #070f27;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  font-size: 14px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

/* LIST */
.list {
  list-style: none;
}

.list li {
  background: #ffffff;
  margin-bottom: 12px;
  padding: 15px;
  border-left: 5px solid #2563eb;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  font-size: 14px;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 20px;
  font-size: 13px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

.checker-section {
  padding: 80px 10%;
  text-align: center;
}

.checker-section h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #475569;
  margin-bottom: 40px;
}

.checker-box {
  max-width: 420px;
  margin: auto;
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 18px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #1d4ed8;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

