* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-image:url(background1.jpg) ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}

.container h2 {
    color: #0b064d;
    margin-bottom: 10px;
}

.container p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

form input:focus {
    border-color: #2c5364;
}

button {
    width: 100%;
    padding: 12px;
    background: #2c5364;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #203a43;
}

.note {
    margin-top: 15px;
    font-size: 12px;
    color: #6e6d6d;
}
