* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #cac9fa, #b196db);
  color: #1e293b;
}


.heading{
  background: linear-gradient(135deg, #180a49, #0e2572);
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
}

.support-hero h1 {
  font-size: 42px;
}

/* SECTIONS */
.support-section,
.faq-section,
.contact-section {
  padding: 70px 10%;
}

.support-section h2,
.faq-section h2,
.contact-section h2 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* SUPPORT CARDS */
.support-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.support-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.support-card h3 {
  margin-bottom: 10px;
  color: #2563eb;
}

.support-card span {
  display: block;
  margin-top: 8px;
  font-weight: 600;
}

/* FAQ */
.faq {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

.faq h4 {
  margin-bottom: 8px;
  color: #0f172a;
}

/* CONTACT FORM */
.contact-form {
  max-width: 450px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  padding: 14px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1d4ed8;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 20px;
}
