/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #cac9fa, #b196db);
  color: #1e293b;
}


.header {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  text-align: center;
  width:100%;
  height: 150px;

}

.header h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  opacity: 0.9;
}

/* SECTIONS */
.section {
  background: white;
  margin: 40px auto;
  padding: 35px;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.section h2 {
  font-size: 28px;
  color: #1d4ed8;
  margin-bottom: 15px;
}

.section p {
  font-size: 15px;
  line-height: 1.8;
  color: #334155;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #334155;
}

/* ELIGIBILITY CHECKER */
.checker-section {
  background: linear-gradient(135deg, #e0e7ff, #eef2ff);
  padding: 50px 20px;
}

.checker-section h2 {
  text-align: center;
  margin-bottom: 25px;
}

.checker-box {
  background: white;
  max-width: 420px;
  margin: auto;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.checker-box label {
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

.checker-box input,
.checker-box select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 12px;
  border: 1px solid #c7d2fe;
  font-size: 14px;
  outline: none;
}

.checker-box input:focus,
.checker-box select:focus {
  border-color: #2563eb;
}

.checker-box button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
   background: linear-gradient(135deg, #3b82f6, #9333ea);
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.checker-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.4);
}

#result {
  margin-top: 15px;
  font-weight: 600;
  text-align: center;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 25px;
  margin-top: 60px;
  font-size: 14px;
}
