* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
background: linear-gradient(135deg, #cac9fa, #b196db);
  color: #1e293b;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  text-align: center;
    width:100%;
  height: 150px;
}

.hero h1 {
  font-size: 42px;
}

/* SECTIONS */
.section {
  padding: 70px 10%;
}

.section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.section p {
  font-size: 15px;
  color: #334155;
}

.light-bg {
  background: linear-gradient(135deg, #cac9fa, #b196db);
}

/* CARDS */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background-color: #070f27;
  color: #cbd5e1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: center;
}

/* LIST */
.list {
  list-style: none;
}

.list li {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 12px;
  border-left: 5px solid #2563eb;
  border-radius: 10px;
}

/* CHECKER */
.checker-box {
  max-width: 420px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checker-box input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}

.checker-box button {
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  color: white;
  cursor: pointer;
}

#result {
  font-weight: 600;
  text-align: center;
}


.footer {
  background: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 20px;
}
.section h2{
    text-align: center;
}
