* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-image:url(background1.jpg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.signup-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    text-align: center;
}

.signup-card h2 {
    color: #180f3a;
    margin-bottom: 8px;
}

.signup-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.signup-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.signup-card input:focus {
    border-color: #2c5364;
}

.signup-card button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #3b82f6, #9333ea);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-card button:hover {
    background: #203a43;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #2c5364;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
}
